body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('/images/bg.png') no-repeat center center/cover;
    color: #333;
}
main {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 80px;
}

.about-us h1, .about-us h2, .about-us h3 {
    color: #d3ff18;
    margin-top: 15px;
}

.about-us p{
    color: #fff;
    font-size: 1.1rem;
    text-align: justify;
}

@media (max-width:860px){
    main{
        margin-inline: 20px;
    }
}

@media (max-width:450px) {
    .about-us p{
        font-size: 1rem;
    }
}