*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    background: url('/images/bg.png') no-repeat center center/cover;
}

.box{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box .images{
    text-align: center;
}

.images img{
    object-fit: fill;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
    height: 300px;
}

.images img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
    color: #fff;
}

.content p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.5);
}

@media (max-width:1200px) {
    .images img{
        width: 275px;
        height: 275px;
    }
}

@media (max-width:1000px) {
    .images img{
        width: 250px;
        height: 250px;
    }
}

@media (max-width:920px) {
    .images img{
        width: 225px;
        height: 225px;
    }
}

@media (max-width:850px) {
    .images img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:770px) {
    .images img{
        width: 175px;
        height: 175px;
    }
}

@media (max-width:700px) {
    .images img{
        width: 150px;
        height: 150px;
    }
}

@media (max-width:620px) {
    .images img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:550px) {
    .content p{
        font-size: 1rem;
    }
}

@media (max-width:525px) {
    .images img{
        width: 150px;
        height: 150px;
    }
}

@media (max-width:425px){
    .images img{
        width: 125px;
        height: 125px;
        margin: 6px;
    }
    .content p{
        padding: 3px 10px;
    }
}

@media (min-height:1000px){
    .images img{
        width: 291px;
        height: 291px;
    }
}