*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('/images/bg.png') no-repeat center center/cover;
}

header {
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    background: url('/images/bg.png') no-repeat center center/cover;
}

header p{
    font-size: 1.1rem;
}

main {
    padding: 0px 20px;
    color: #fff;
    max-width: 800px;
    margin: 10px auto;
}

h2, h3 {
    color: #adff00;
}
h3{
    margin-top: 15px;
    margin-bottom: 5px;
}

main p{
    text-align: justify;
    font-size: 1.1rem;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}

ul li{
    font-size: 1.1rem;
}

footer {
    text-align: center;
    padding: 10px;
    background: url('/images/bg.png') no-repeat center center/cover;
    color: #ffffff;
    position: relative;
    bottom: 0;
}

@media (max-width:450px){
    header p{
        font-size: 1rem;
    }
    h2{
        font-size: 1.3rem
    }
    main{
        padding: 0px 20px;
    }
    main p{
        font-size: 1rem;
    }
    ul li{
        font-size: 1rem;
    }
}