*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction:column;
    height: 100vh;
    background:url('/images/bg.png') no-repeat center center/cover;
}

main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-cards {
    max-width: 300px;
    padding: 10px;
}

.card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-block: 10px;
    color: #fff;
}

.card span{
    font-weight: bold;
}