*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('/images/bg.png') no-repeat center center/cover;
}

.content{
    overflow-x: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.content h2{
    font-size: 1.5rem;
    margin-inline: auto;
    color: #fff;
}

.success{
    color: #0f0;
    font-size: 1.2rem;
    border: 1px solid #0f0;
    outline: none;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-inline: auto;
}

.error{
    color: #ff0000;
    font-size: 1.2rem;
    border: 1px solid #f00;
    outline: none;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-inline: auto;
}

.content i{
    margin-left:15px;
    color: #00ffcc;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 8px;
}

th{
    color: #ffff00;
}

td a{
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

#trash{
    color: #ffba00;
}

#edit{
    color: #00faff;
}

@media (max-width:450px){
    .content h2{
        font-size: 1.3rem;
    }
    .success{
        font-size: 1.1rem;
    }
    .error{
        font-size: 1.1rem;
    }
}